{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>

<!-- wavesurfer.js timeline -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>-->

<!-- Popper JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->

<link rel="stylesheet"  type="text/css" href="{% static '/project_manager/css/edit_resources.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static '/project_manager/css/main.css' %}">





<!--<div class="container">
  <div class="wrapper">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">Minimal Editor</h1>
        <p class="lead">One audio file with combined channel waveform visual and basic cursor selection for start.</p>
      </header>
      <div class="post-content">
        <div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    <div class="btn-group">
      <span class="btn-pause btn btn-warning"><i class="fa fa-pause"></i></span>
      <span class="btn-play btn btn-success"><i class="fa fa-play"></i></span>
      <span class="btn-stop btn btn-danger"><i class="fa fa-stop"></i></span>
    </div>
  </div>
</div>
<div id="playlist"></div>

      </div>
    </article>
  </div>
</div>-->

<!--<div class="container">
  <div class="wrapper">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">Individual Track State</h1>
        <p class="lead">Vocals track can not be shifted in time, only the Drums track.</p>
      </header>
      <div class="post-content">
        <div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    <div class="btn-group">
      <span class="btn-pause btn btn-warning"><i class="fa fa-pause"></i></span>
      <span class="btn-play btn btn-success"><i class="fa fa-play"></i></span>
      <span class="btn-stop btn btn-danger"><i class="fa fa-stop"></i></span>
    </div>
    <div class="btn-group">
      <span class="btn-cursor btn btn-default" title="select cursor"><i class="fa fa-headphones"></i></span>
      <span class="btn-shift btn btn-default active" title="shift audio in time"><i class="fa fa-arrows-h"></i></span>
    </div>
  </div>
</div>
<div id="playlist"></div>

      </div>
    </article>
  </div>
</div>-->



<input type="hidden" id="myVar" name="variable" value="{{audio_paths}}">

    <div class="container">
  <div class="wrapper">
  <br>
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">Edit resources</h1>
        <p class="lead">Create your own audio composition</p>
      </header>
      <div class="post-content">
        <div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    <div class="btn-group">
      <span class="btn-pause btn btn-warning">
        <i class="fa fa-pause"></i>
      </span>
      <span class="btn-play btn btn-success">
        <i class="fa fa-play"></i>
      </span>
      <span class="btn-stop btn btn-danger">
        <i class="fa fa-stop"></i>
      </span>
      <span class="btn-rewind btn btn-success">
        <i class="fa fa-fast-backward"></i>
      </span>
      <span class="btn-fast-forward btn btn-success">
        <i class="fa fa-fast-forward"></i>
      </span>
    </div>
    <div class="btn-group">
      <span title="zoom in" class="btn-zoom-in btn btn-default">
        <i class="fa fa-search-plus"></i>
      </span>
      <span title="zoom out" class="btn-zoom-out btn btn-default">
        <i class="fa fa-search-minus"></i>
      </span>
    </div>
    <div class="btn-group btn-playlist-state-group">
      <span class="btn-cursor btn btn-default active" title="select cursor">
        <i class="fa fa-headphones"></i>
      </span>
      <span class="btn-select btn btn-default" title="select audio region">
        <i class="fa fa-italic"></i>
      </span>
      <span class="btn-shift btn btn-default" title="shift audio in time">
        <i class="fa fa-arrows-h"></i>
      </span>
      <span class="btn-fadein btn btn-default" title="set audio fade in">
        <i class="fa fa-long-arrow-left"></i>
      </span>
      <span class="btn-fadeout btn btn-default" title="set audio fade out">
        <i class="fa fa-long-arrow-right"></i>
      </span>
    </div>
    <div class="btn-group btn-fade-state-group">
      <span class="btn btn-default btn-logarithmic active">logarithmic</span>
      <span class="btn btn-default btn-linear">linear</span>
      <span class="btn btn-default btn-exponential">exponential</span>
      <span class="btn btn-default btn-scurve">s-curve</span>
    </div>
    <div class="btn-group btn-select-state-group">
      <span class="btn-loop btn btn-success disabled" title="loop a selected segment of audio">
        <i class="fa fa-repeat"></i>
      </span>
      <span title="keep only the selected audio region for a track"
            class="btn-trim-audio btn btn-primary disabled">Trim</span>
    </div>
    <div class="btn-group">
      <!--<span title="Prints playlist info to console"
            class="btn btn-info">Print</span>-->
      <span title="Clear the playlist's tracks" class="btn btn-clear btn-danger">Clear</span>
    </div>
    <div class="btn-group">
      <span title="Download the current work as Wav file" class="btn btn-download btn-primary">
        <i class="fa fa-download"></i>
      </span>
    </div>
  </div>
</div>
<div id="playlist"></div>
<div class="playlist-bottom-bar">
  <form class="form-inline">
  <select class="time-format form-control">
    <option value="seconds">seconds</option>
    <option value="thousandths">thousandths</option>
    <option value="hh:mm:ss">hh:mm:ss</option>
    <option value="hh:mm:ss.u">hh:mm:ss + tenths</option>
    <option value="hh:mm:ss.uu">hh:mm:ss + hundredths</option>
    <option value="hh:mm:ss.uuu" selected="selected">hh:mm:ss + milliseconds</option>
  </select>
  <input type="text" class="audio-start input-small form-control">
  <input type="text" class="audio-end form-control">
  <label class="audio-pos">00:00:00.0</label>
</form>
  <br/>
  <div class="row">
  <div class="col-md-6">
  <form class="form-inline">
    <div class="form-group">
      <label for="master-gain">Master Volume</label>
      <input type="range" min="0" max="100" value="100" class="master-gain form-control" id="master-gain" style="margin-left:10px;margin-top:5px;margin-right:10px;border:none;">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="automatic-scroll"> Automatic Scroll
      </label>
    </div>
  </form>
  <form class="form-inline">
    <div class="control-group">
      <label for="time">Seek to time :</label>
      <input type="number" class="form-control" value="14" id="seektime"/>
      <span class="btn btn-success btn-seektotime">Seek !</span>
    </div>
  </form>
  </div>
  <div class="col-md-6">
  <div class="sound-status"></div>
  <div class="track-drop"></div>
  </div>
  </div>
  <!--<div class="loading-data"></div>-->
</div>

      </div>
    </article>
  </div>
</div>


<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static '/project_manager/js/waveform-playlist.var.js' %}"></script>
<script type="text/javascript" src="{% static '/project_manager/js/web-audio-editor.js' %}"></script>
<!--<script type="text/javascript" src="{% static '/project_manager/js/minimal.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static '/project_manager/js/stationary-track.js' %}"></script>-->
<script type="text/javascript" src="{% static '/project_manager/js/emitter.js' %}"></script>








<!--<div class="container wrapper">
    <br>
    <h2>Edit resources</h2>
    <hr>
    <br>

    <form id="resource_selector">
        <h5>Resources:</h5>
        {% for resource in project_resources.all %}
        <input type="radio" name="rate" value="{{resource.title}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ resource.title }}<br>
        {% endfor %}
        <br>
    </form>
    <button class="btn" id ="btn" onclick="play_music(document.getElementById(resource_selector))">Select song</button>
    <br><br>





    <div id="waveform"></div>
    <div id="waveform-timeline"></div>

    <br>
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-1">
            <button class="btn btn-success" style="display:none" id="button_play" onclick="wavesurfer.playPause()">
                <i class="glyphicon glyphicon-play"></i>
                Play/Pause
            </button>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12">
            <div id="equalizer" style="margin-top: 10px"></div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    <pre style="display:none" id="hertz"> 32Hz   64Hz  125Hz 250Hz  500Hz  1kHz  2kHz  4kHz  8kHz  16kHz</pre>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        </div>
        <br>
        <div>
        	<input class="btn" type="button" onclick="ressetEqualizer()" value="Reset equalizer">
        	<input class="btn" type="button" onclick="RockEqualizer()" value="Rock preset">
        	<input class="btn" type="button" onclick="BassBoostEqualizer()" value="Bass boost preset">
        	<input class="btn" type="button" onclick="BassReduceEqualizer()" value="Bass reduce preset">
        	<input class="btn" type="button" onclick="ElectronicEqualizer()" value="Electronic preset">
        	<input class="btn" type="button" onclick="ClassicEqualizer()" value="Electronic preset">
        	<input class="btn" type="button" onclick="PopEqualizer()" value="Electronic preset">
        </div>
        <br>
        <div class="volbox">
            <h5 style="display:none" id="volume_label">Volume:</h5>
            <input class="slider" style="display:none" id="volume" type="range" min="0" max="1" value="1" step="0.01">
        </div>
    </div>
</div>

<script type="text/javascript">
    var equalizer_count = -1;

    var temp = ("{{audio_files}}");
    console.log(temp);
    temp=temp.replace(new RegExp("&#39;", 'g'), '"' );
    console.log(temp);
    var result = JSON.parse(temp);
    var data=[];

    for (var key in result) {
        if (result.hasOwnProperty(key)) {
            data[key]=result[key];
        }
    }

    for(var resource in result){
        title = resource.key;
        data[title] = resource.value;
    }

    /*var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'violet',
        progressColor: 'purple'
    });*/

    var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'darkorange',
    progressColor: 'purple',
    splitChannels: true,
    height: 100
    });


    //var path = 'D:\\OpenMusicOfficial\\OpenMusic\\accounts\\static\\accounts\\audio';
    //var old_path = 'https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3';
    //wavesurfer.load(old_path);

    // Equalizer
    wavesurfer.on('ready', function () {
    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
    wavesurfer: wavesurfer,
    container: '#waveform-timeline'
    });

    var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];

    // Create filters
    if (equalizer_count == 0){
    var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = 0;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;

        wavesurfer.setVolume(0.4);
        document.querySelector('#volume').value = wavesurfer.backend.getVolume();
    });
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
}
    // Bind filters to vertical range sliders

        var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        });    

        var volumeInput = document.querySelector('#volume');
        var onChangeVolume = function (e) {
        wavesurfer.setVolume(e.target.value);
        console.log(e.target.value);
        };
        volumeInput.addEventListener('input', onChangeVolume);
        volumeInput.addEventListener('change', onChangeVolume);

    // For debugging
    wavesurfer.filters = filters;
    });


        function ElectronicEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	4.8,
        	3.4,
        	0.5,
        	-1.6,
        	-2,
        	2.3,
        	0.9,
        	1.6,
        	4.8,
        	5.8
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}

	function PopEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	-1.8,
        	-1,
        	1,
        	3.4,
        	4.9,
        	4.5,
        	2.2,
        	-0.3,
        	-1.6,
        	-1.8
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}

	function ClassicEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	4.5,
        	3.7,
        	2.9,
        	0.1,
        	-1.8,
        	-1.2,
        	0.7,
        	3.1,
        	3.9,
        	4.4
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}


    function BassReduceEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	-6,
        	-4.8,
        	-3.6,
        	-2.4,
        	-1.2,
        	0,
        	0,
        	0,
        	0,
        	0
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}


    function BassBoostEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	6,
        	4.8,
        	3.6,
        	2.4,
        	1.2,
        	0,
        	0,
        	0,
        	0,
        	0
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}


    function RockEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];
        
        var filtersGainValue=[
        	3.5,
        	3,
        	0,
        	-2,
        	-2,
        	-1,
        	0,
        	2,
        	5,
        	6.5
        ]
        var counter=0;
    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = filtersGainValue[counter];
        counter=counter+1;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";
    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=filtersGainValue[0];
    slider64.value=filtersGainValue[1];
    slider125.value=filtersGainValue[2];
	slider250.value=filtersGainValue[3];
	slider500.value=filtersGainValue[4];
	slider1000.value=filtersGainValue[5];
	slider2000.value=filtersGainValue[6];
	slider4000.value=filtersGainValue[7];
	slider8000.value=filtersGainValue[8];
	slider16000.value=filtersGainValue[9];
	}




    function ressetEqualizer(){

    	var EQ = [
        {
        f: 32,
        type: 'lowshelf'
        }, {
        f: 64,
        type: 'peaking'
        }, {
        f: 125,
        type: 'peaking'
        }, {
        f: 250,
        type: 'peaking'
        }, {
        f: 500,
        type: 'peaking'
        }, {
        f: 1000,
        type: 'peaking'
        }, {
        f: 2000,
        type: 'peaking'
        }, {
        f: 4000,
        type: 'peaking'
        }, {
        f: 8000,
        type: 'peaking'
        }, {
        f: 16000,
        type: 'highshelf'
        }
    ];

    	var filters = EQ.map(function (band) {
        var filter = wavesurfer.backend.ac.createBiquadFilter();
        filter.type = band.type;
        filter.gain.value = 0;
        filter.Q.value = 1;
        filter.frequency.value = band.f;
        return filter;
    	});
    // Connect filters to wavesurfer
    wavesurfer.backend.setFilters(filters);
     document.getElementById("equalizer").innerHTML = "";

    var container = document.querySelector('#equalizer');
        filters.forEach(function (filter) {
        var input = document.createElement('input');
        wavesurfer.util.extend(input, {
        id: filter.frequency.value,
        type: 'range',
        min: -40,
        max: 40,
        value: 0,
        title: filter.frequency.value
        });
        input.style.display = 'inline-block';
        input.classList.add('slider');
        input.setAttribute('orient', 'vertical');
        wavesurfer.drawer.style(input, {
        'webkitAppearance': 'slider-vertical',
        width: '50px',
        height: '150px',

        });
        container.appendChild(input);

        var onChange = function (e) {
        filter.gain.value = ~~e.target.value;
        };

        input.addEventListener('input', onChange);
        input.addEventListener('change', onChange);
        })

    var slider32 = document.getElementById("32");
    var slider64 = document.getElementById("64");
    var slider125 = document.getElementById("125");
    var slider250 = document.getElementById("250");
    var slider500 = document.getElementById("500");
    var slider1000 = document.getElementById("1000");
    var slider2000 = document.getElementById("2000");
    var slider4000 = document.getElementById("4000");
    var slider8000 = document.getElementById("8000");
    var slider16000 = document.getElementById("16000");
    slider32.value=0;
    slider64.value=0;
    slider125.value=0;
	slider250.value=0;
	slider500.value=0;
	slider1000.value=0;
	slider2000.value=0;
	slider4000.value=0;
	slider8000.value=0;
	slider16000.value=0;
	}


    //Our code

    resource_selector
    var form = document.getElementById("resource_selector");

    $("#btn").click(function(){ 
        equalizer_count++;
        var rate = document.querySelector('input[name="rate"]:checked').value;
        var selected_file_data=data[rate];
        wavesurfer.load("data:audio/wav;base64,"+selected_file_data);
        });

function play_music(music_to_play){
            var button_play = document.getElementById("button_play");
            if (button_play.style.display === "none") {
                button_play.style.display = "block";
            }
            var hertz = document.getElementById("hertz");
            if (hertz.style.display === "none") {
                hertz.style.display = "inline-block";
            }
            var volume = document.getElementById("volume");
            if (volume.style.display === "none") {
                volume.style.display = "inline-block";
            }
            var volume_label = document.getElementById("volume_label");
            if (volume_label.style.display === "none") {
                volume_label.style.display = "inline-block";
            }
            var current_music=data[music_to_play];
            wavesurfer.load("data:audio/wav;base64,"+current_music);
        };
</script>





{% endblock %}