{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <p>
        Project name: {{ project.name }}<br>
        Project desctiption: {{ project.desc }}    
    </p>
    <br>
    <form action="{% url 'project_manager:projectDetails' request.user project.name %}" method="POST">
        {% csrf_token %}
        <button type="submit">Add a resource</button>
    </form> 
    <br>
    <a href="{% url 'project_manager:projects' request.user %}">My projects</a>
{% endblock %}