{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}
{% block content %}

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- main wavesurfer.js lib -->
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
     
<!-- wavesurfer.js timeline -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"  type="text/css" href="{% static '/project_manager/css/project_details.css' %}">
<script data-require="tether@1.4.0" data-semver="1.4.0" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    
  
<div class="container wrapper"> 
    <br>
    <h3>{{ project.name }}</h3>
    <h6>{{ project.desc }} </h6>
    <hr> 
    <br>

    <div class="row">
      <div class="col-md-12">
      <div class="green-background">
        <h4>Already completed songs:</h4>
        <br>
        <form action="{% url 'project_manager:soundAnalysis' request.user project.name %}" method="POST">
        <div class="list-group list-group-flush">

        {% for resource in already_edited_songs %}
          <div class="row">
                <div class="col-md-8" onClick=play_music(this.id) name="play" id="{{resource.title}}">
                  <h5>{{ resource.title }}</h5> <small>{{resource.data}}</small>
                </div>
                <div class="col-md-2">
                {% if resource.version != None %}
                <br/>
                  <h5>V&nbsp;{{resource.version}}</h5>
                {% endif %}
                </div>
                <div class="col-md-2">
                <label class="containerCheckbox">
                  <input type="checkbox" name="checkedSongs" class="list-group-item lsItem" value="{{resource.title}}/{{resource.data}}">
                  <span class="checkmark"></span>
                </label>
                </div>
          </div>
        {% endfor %}
        </div>
            {% csrf_token %}
            <br/>
            <button class="btn btn-success" type="submit">Analyze</button>
        </form> 
      </div>
      </div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
      <div class="col-md-6"> 
          <div class="jumbotron">
          <h4>Currently added resources:</h4>
          <br>
          <form action="{% url 'project_manager:soundAnalysis' request.user project.name %}" method="POST">
            <div class="list-group list-group-flush">
              {% for resource in project_resources %}
                <div class="row">
                <div class="col-md-9">
                  <h5>{{ resource.title }}</h5> <small>{{resource.data}}</small>
                </div>
                <div class="col-md-3">
                <label class="containerCheckbox">
                  <input type="checkbox" name="checkedSongs" class="list-group-item lsItem" value="{{resource.title}}/{{resource.data}}">
                  <span class="checkmark"></span>
                </label>
                <!--<input type="checkbox" name="checkedSongs" class="list-group-item lsItem" value="{{resource.title}}/{{resource.data}}">-->
                </div>
                </div>
              {% endfor %}
            </div>
            <br>
              {% csrf_token %}
              <button class="btn btn-success" type="submit">Analyze</button>
          </form> 
          <br>
          <form action="{% url 'project_manager:projectDetails' request.user project.name %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit" name="addResource">Add a resource</button>
          </form> 
        </div>
        </div>
      

    <div class="col-md-6">
      <!--<form action="{% url 'project_manager:projectDetails' request.user project.name %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn" type="submit" name="addContributer">Add to contributors</button>
      </form>-->

      <form action="{% url 'project_manager:projectDetails' request.user project.name %}" method="POST">
        <div class="form-group">
            <label for="formControlSelect">Users:</label>
              {% csrf_token %}
              {{ form.contributors }}
              {{ form.contributors.errors }}
        </div>
        <button class="btn btn-success" type="submit" name="addContributer">Add to contributors</button>
      </form>

      <br>
      <a class="btn btn-outline-info" href="{% url 'project_manager:editResources' request.user project.name %}">Edit resources</a>
    </div>
  
    <form action="{% url 'project_manager:projectPublish' request.user project.name %}">
        <button class="btn btn-outline-info publish-btn" type="submit">Publish</button>
    </form>

  </div>
  <br/>
      <div class="row">
        <div class="col-md-12">
            <div class="wav-form-custom">
                <div id="waveform"></div>
                <div id="waveform-timeline"></div>
            </div>
        </div>
      <br/><br/>
        <div class="col-md-1">
            <button style="display:none" type="button" id="button_play" class="btn btn-outline-success playBtn" onclick='wavesurfer.playPause();buttonPlayPress();'>
                <i class="fa fa-play"></i>
            </button>
        </div>
            <div class="col-md-1">
                <span style="display:none" class="fa fa-volume-up" id="volume-up-icon" style="font-size:40px; display:inline-block; "></span>
            </div>
            <div class="col-md-10">
                <input style="display:none" class="slider" id="volume" type="range" min="0" max="1" value="1" step="0.01" style="margin-top:10px">
            </div>      
            <br>
        </div>
        <br>
    </div>


</div>

<script type="text/javascript">


 var equalizer_count = -1;

      var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#D2EDD4',
        progressColor: '#46B54D',
        barWidth: 5,
        barRadius: true,
        height: 200
    });

    wavesurfer.on('ready', function () {
    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
        wavesurfer: wavesurfer,
        container: '#waveform-timeline'
    });
    });
    
    wavesurfer.setVolume(0.4);
    document.querySelector('#volume').value = wavesurfer.backend.getVolume();

    var volumeInput = document.querySelector('#volume');
        var onChangeVolume = function (e) {
        wavesurfer.setVolume(e.target.value);
        console.log(e.target.value);
        };
        volumeInput.addEventListener('input', onChangeVolume);
        volumeInput.addEventListener('change', onChangeVolume);
        var temp = ("{{already_edited_songs_json}}");
        temp=temp.replace(new RegExp("&#39;", 'g'), '"' );
        var result = JSON.parse(temp);

        var data=[];
    
        for (var key in result) {
            if (result.hasOwnProperty(key)) {
                data[key]=result[key];
            }
        } 
        for(var resource in result){
            title = resource.key;
            data[title] = resource.value;
        }

        function play_music(music_to_play){
            var button_play = document.getElementById("button_play");
            if (button_play.style.display === "none") {
                button_play.style.display = "block";
            }
            var volume_up_icon = document.getElementById("volume-up-icon");
            if (volume_up_icon.style.display === "none") {
                volume_up_icon.style.display = "inline-block";
                volume_up_icon.style.fontSize = "40px";
            }
            var volume = document.getElementById("volume");
            if (volume.style.display === "none") {
                volume.style.display = "inline-block";
            }
            var current_music=data[music_to_play];
            wavesurfer.load("data:audio/wav;base64,"+current_music);
        };
    </script>

{% endblock %}