<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
           <div class="list">
						<div class="cities-list">
						
						<div class="list-group">
							<div class="control-height list-group-item">      </div>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<a class="list-group-item" href="#">lorem ipsum
								<span class="badge">32</span>
							</a>
							<div class="control-height list-group-item"></div>
							</div>
							
							
						</div>
						<a class="list-control control-height up" href="#">
							<span class="block-center glyphicon glyphicon-chevron-up arrow" aria-hidden="true"></span>
						</a>
						<a class="list-control control-height down" href="#">
           					<span class="glyphicon glyphicon-chevron-down arrow" aria-hidden="true"></span>
           				</a>
             		</div>
	</div>
</div>