body {
    background: #f9f9f9;
}
.wrapper {
    background: white;
    border-radius: 0px 0px 10px 10px;
    padding: 17px;
}

.nav-link {
    font-size:22px;
}

/*.navbar-brand .text {
    font-size:25px;
    font-weight: bold;
}*/

.navbarImage {
    max-width: 100px;
    height: 65px;
    margin-right:5px;
}